* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.reloj {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.date {
    color: rgb(255, 88, 88);
    font-size: 10vw;
    font-family: 'Abel', sans-serif;
    transition: 1s;
}

.clock {
    color: rgb(255, 166, 88);
    font-size: 20vw;
    font-family: 'Abel', sans-serif;
    transition: 1s;
}